
<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/site.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    <script src="{{ site.url }}{{ site.baseurl }}/js/hamburger.js"></script>


  </head>

  <body>




    <!-- NAVBAR -->

    <nav class="navbar" role="navigation" aria-label="main navigation">

      <!-- BRAND -->

      <div class="navbar-brand">
        
        <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}">
          {{ site.title }}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

      </div>

      <!-- MENU -->

      <div class="navbar-menu" id="navMenu">
        
        <div class="navbar-end">
          
          <a href="{{ site.url }}{{ site.baseurl }}/#kokemus" class="navbar-item">Työkokemus</a>
          <a href="{{ site.url }}{{ site.baseurl }}projektit/" class="navbar-item">Projektit</a>
          <a href="{{ site.url }}{{ site.baseurl }}blogi/" class="navbar-item">Blogi</a>

        </div>

      </div>

    </nav>











    {{ content }}










  	<footer class="footer">

      <div class="container">

        <div class="content has-text-centered">
        
          <h1>Mikko Oikkonen &copy; {{ 'now' | date: "%Y" }}</h1>
          
          <a href="{{ site.url }}{{ site.baseurl }}">{{ site.url }}{{ site.baseurl }}</a>
      		
        </div>
          
      </div>

  	</footer>




  </body>


</html>
